<div class="col">
    <h1>Community Feed</h1>
    <div id="form-create-message" style="display: none;">
        <textarea style="width: 75%; height: 100px;" id="textarea-create"></textarea><br>
        <button class="btn btn-outline-danger" id="button-save">Save</button>
        <button class="btn btn-outline-secondary" id="button-cancel">Cancel</button>
    </div>
    <button class="btn btn-outline-primary" style="margin-bottom:5px" id="button-create">Create</button>
    
    <br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" style="width: 90%;">Message</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody id="tbody-feed">
        </tbody>
    </table>
</div>